@layer theme, base, components, utilities;

/* Import the Tailwind theme styles */
@import "tailwindcss/theme.css" layer(theme);

/* Skip the preflight reset to avoid conflicts with Payload's admin styles */
/* @import 'tailwindcss/preflight.css' layer(base); */

/* Import Tailwind utilities */
@import "tailwindcss/utilities.css" layer(utilities);

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
@custom-variant light (&:where([data-theme=light], [data-theme=light] *));

.spinner {
  width: 1rem;
  height: 1rem;
  display: inline-block;
  vertical-align: middle;
  border: 2px solid currentColor;
  border-bottom-color: transparent;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.multi-value-label__text {
  text-overflow: inherit;
}

dialog.payload-custom-dialog {
  background-color: var(--theme-elevation-50);
  color: var(--theme-text);
  border: 1px solid var(--theme-elevation-150);
  border-radius: 4px;
  padding: 2.5rem;
  max-width: 550px;
  width: 100%;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);

  & > p {
    margin-bottom: 1rem;
  }
  & > .dialog-footer {
    display: flex;
    justify-content: flex-end;
  }
}

dialog.payload-custom-dialog::backdrop {
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(2px);
}
